.page-header__name {
  display: block;
  background-color: $basic-white;
  color: $basic-error-pink;
}

.page-header__logo:hover,
.page-header__name:hover,
.page-header__name:focus,
.page-header__logo:focus {
  opacity: 0.8;
}

.page-header__logo:active,
.page-header__name:active {
  opacity: 0.6;
}
