.show-more__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $basic-light-black;
  text-transform: uppercase;
}

.show-more__decription {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $basic-dark-gray;
}

.show-more__show-all {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 94px;
  color: $basic-dark-gray;
  background-color: $basic-light-grey;
}

.show-more__show-all:hover,
.show-more__show-all:focus{
  background-color: $basic-grey;
}

.show-more__show-all:active {  //*Не могу все принцип понять как делать 30%?//
  background-color: $basic-grey;
  opacity: 0.3;
}
