$basic-black:#000000;
$basic-white:#ffffff;
$basic-light-green:#68B738;
$basic-green:#5EAA2F;
$basic-light-grey: #F2F2F2;
$basic-grey: #EBEBEB;
$basic-dark-grey: #CDCDCD;
$basic-light-dark-gray: #666666;
$basic-dark-gray: #444444;
$basic-dark-dark-gray: #222222;
$basic-error-pink: #FF8282;
$border-light-grey: #E7E7E7;
$border-grey: #CDCDCD;
$purpose-gray: #BABABA;

$font-size: 45px;
